---
- name: Release django-ansible-base
  hosts: localhost
  connection: local
  gather_facts: true
  vars:
    repo_identifier: "john-westcott-iv/django-ansible-base"
    api_repo_prefix: "https://api.github.com/repos/{{ repo_identifier }}"

  # Note:
  #    When this playbook runs it will run in the directory of the playbook so ../../ would be a reference to the django-ansible-base root

  tasks:
    - name: Generate calver release number
      set_fact:
        release_number: "{{ ansible_date_time.year }}.{{ ansible_date_time.month }}.{{ ansible_date_time.day }}"

    - name: "Update version file with {{ release_number }}"
      ansible.builtin.lineinfile:
        create: True
        line: "version = '{{ release_number }}'"
        path: "../../ansible_base/_version.py"
        regex: "^version = .*"

    - name: Build django-ansible-base
      command:
        cmd: make build
        creates: 'dist/django-ansible-base-{{ release_number }}.tar.gz'
      args:
        chdir: '../../'
      tags:
        - build

    - name: Create release in github
      uri:
        url: "{{ api_repo_prefix }}/releases"
        method: POST
        body_format: json
        body:
          tag_name: "{{ release_number }}"
          name: "v{{ release_number }}"
          draft: False
          generate_release_notes: True
          make_latest: True
        headers:
          Accept: 'application/vnd.github.v3+json'
          Authorization: 'bearer {{ github_token }}'
      register: new_release_response
      tags:
        - github

    - name: Upload the build files
      debug:
        msg: "{{ file_name }}"
      uri:
        url: "{{ new_release_response.json['upload_url'] }}?name={{ file_name }}"
        method: POST
        src: "dist/{{ file_name }}"
        headers:
          Accept: 'application/vnd.github.v3+json'
          Authorization: 'bearer {{ github_token }}'
      vars:
        file_name: "{{ item | basename }}"
      loop: "{{ lookup('ansible.builtin.fileglob', '../../dist/*', wantlist=True) }}"
      loop_control:
        label: "{{ item | basename }}"
      tags:
        - github
